@use "./Variables.scss";
.todo {
  &__list {
    background-color: Variables.$todo-list-bckclr;
    color: Variables.$item-uncatagorized_txtclr;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 8px;
    padding-bottom: 8px;
    padding-top: 8px;

    &__item {
      color: Variables.$item-uncatagorized_txtclr;
      width: 40%;
      background-color: Variables.$item-uncatagorized-bckclr;
      border-radius: 16px;
      padding-left: 8px;
      display: flex;
      justify-content: space-between;
    }
  }
}

.item {
  &__btnbox {
    display: flex;
    align-items: center;
    padding-right: 8px;
  }
  &__dltbtn,
  &__editbtn {
    height: 32px;
  }
}
